.footer {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer__content {
  display: flex;
  align-items: center;
  margin: 0 104px;
  padding: 30px 0 26px;
}

.footer_copyright {
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin: 0;
}

.footer__links-container {
  margin: auto 0 auto auto;
  display: flex;
  align-items: center;
}

.footer__link {
  margin: auto 40px auto 0;
  text-decoration: none;
  color: #1a1b22;
  opacity: 0.85;
}

.footer__link-git {
  margin-right: 24px;
  display: flex;
  align-items: center;
  opacity: 0.85;
}

.footer__link:hover,
.footer__link-git:hover,
.footer__link-fb:hover {
  opacity: 1;
}

.footer__link-fb {
  display: flex;
  align-items: center;
  opacity: 0.85;
}

.footer__logo {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .footer__content {
    margin: 0 40px;
    padding: 22px 0 18px;
  }
}

@media screen and (max-width: 400px) {
  .footer__content {
    padding: 20px 0 0;
    margin: 0 16px;
    flex-wrap: wrap-reverse;
  }

  .footer_copyright {
    margin: 38px 0 22px;
  }

  .footer__links-container {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "link git fb"
      "link2 . . ";
    gap: 25px 0;
    width: 100%;
  }

  .footer__link {
    margin: 0;
    grid-area: link;
  }

  .footer__link:nth-child(2) {
    margin: 0;
    grid-area: link2;
  }

  .footer__link-fb {
    align-self: flex-start;
    grid-area: fb;
  }

  .footer__link-git {
    align-self: flex-start;
    grid-area: git;
  }
}
